{% load static %}
<section class="bg-light">
        <div class="container py-5">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1">Featured Product</h1>
                    <p>
                       Discover our handpicked featured product, chosen for its exceptional quality, style, and value. Shop now and experience the perfect blend of comfort, durability, and modern design.
                    </p>
                </div>
            </div>
            
            <div class="row">
                {% for product in product %}
                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                        <a href="{% url 'detail_product' product.id %}">
                            <img src="{{ product.image.url }}" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                            <ul class="list-unstyled d-flex justify-content-between">
                                <li class="text-muted text-right">{{ product.price}}RS</li>
                            </ul>
                            <a href="{% url 'detail_product' product.id %}" class="h2 text-decoration-none text-dark">{{ product.title}}</a>
                            <p class="card-text">
                                {{ product.description}}
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
    </section>